 <!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
				<p><a href="/stocks">SHOP NOW</a></p>
			</div>
			<div class="agile-login">
				<ul>
					{{# if login }}
					<li>
						<a href="/shopping-cart/">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Wegobuyam
                <span class="badge">{{session.cart.totalQty}}</span>
            </a>
					</li>
					<li><a href="/logout">logout</a></li>
					<li><a href="/profile">User Account</a></li>
					<li><a href="/products">Products</a></li>
					{{ else }}
					<li><a href="/signup"> Create Account </a></li>
					<li><a href="/signin">Login</a></li>
					<li><a href="/help">Contact Us</a></li>
					{{/if}}

				</ul>
			</div>
			<div class="product_list_header">  
					<form action="/" method="post" class="last"> 
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<a  >
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
						</a>
					</form>  
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
		<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+0123) 234 567</li>
					
				</ul>
			</div>
			<div class="w3ls_logo_products_left">
				<h1><a href="/"><img src="images/logo2.png" width="70px" height="70px"/>whogobuyam</a></h1>
			</div>
		<div class="w3l_search">
			<form action="#" method="post">
				<input type="search" name="Search" placeholder="Search for a Product..." required="">
				<button type="submit" class="btn btn-default search" aria-label="Left Align">
					<i class="fa fa-search" aria-hidden="true"> </i>
				</button>
				<div class="clearfix"></div>
			</form>
		</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- navigation -->
	<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header nav_2">
								<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div> 
							<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
								<ul class="nav navbar-nav">
									<li class="active"><a href="/stocks" class="act">School Accessories</a></li>	
									<!-- Mega Menu -->
									<li class="dropdown">
										<a href="/stocks" class="dropdown-toggle" data-toggle="dropdown">Body accessory<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>Type</h6>
														<li><a href="/stocks">Male</a></li>
														<li><a href="/stocks">Female</a></li>
													</ul>
												</div>	
												
											</div>
										</ul>
									</li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">Household<b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<div class="row">
												<div class="multi-gd-img">
													<ul class="multi-column-dropdown">
														<h6>All Household</h6>
														<li><a href="/stocks">Cookware</a></li>
														<li><a href="/stocks">Dust Pans</a></li>
													</ul>
												</div>
												
												
											</div>
										</ul>
									</li>
									<li><a href="/stocks">Home Appliance</a></li>
									<li><a href="/stocks">Random</a></li>
								</ul>
							</div>
							</nav>
			</div>
		</div>
		
<!-- //navigation -->