<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
	<meta Property="og:description" Content="online marketplace,Used,Clothings, Buy and sell electronics, cars, fashion, Apparel, collectibles,  goods, digital cameras, baby items, and everything else on eBay" />
    <meta name="description" content="online marketplace,Used,Clothings, Buy and sell electronics, cars, fashion, Apparel, collectibles,  goods, digital cameras, baby items, and everything else on eBay" />
	<meta name="keywords" content="" />
	<link rel="manifest" href="/manifest.json"/>
	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link rel='stylesheet' href='/stylesheets/skdslider.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
</head>
<body>
{{> header }}
    <div> 
        {{{body}}}
    </div>
{{> footer }}
        <script src='/sw.js'></script>
        <script src='/javascripts/jquery-1.11.1.min.js'></script>
        <script src='/javascripts/bootstrap.min.js'></script>
        <script src='/javascripts/move-top.js'></script>
        <script src='/javascripts/responsiveslides.min.js'></script>
        <!-- top-header and slider -->
		<!-- here stars scrolling icon -->
		<script type="text/javascript">
		$(document).ready(function() {
					$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!-- //here ends scrolling icon -->
		<script src='/javascripts/minicart.min.js'></script>
		<!-- main slider-banner -->
		<script src='/javascripts/skdslider.min.js'></script>
		<script type="text/javascript">
				jQuery(document).ready(function(){
					jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
								
					jQuery('#responsive').change(function(){
					$('#responsive_wrapper').width(jQuery(this).val());
					});
					
				});
		</script>	
		<!-- //main slider-banner --> 
</body>
</html>
