<br><br><br>
<div class="container">
    <div class="card mx-auto mt-5">
      <div class="card-header">Reset your account</div>
        {{#if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages }}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
      <div class="card-body">
        <form action="/forgotpassword" method="post">
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
            </div>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block"> 
        </form>
      </div>
    </div>
</div>
<br><br><br>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" >
var myemail = document.getElementById(email);
$('.forgotMyPassword').on('submit',function(e){

		e.preventDefault();
		$.ajax({
			url: "/forgotpassword",
			method: "post",
			data: $('.forgotMyPassword').serialize(),
			beforeSend: function(){
				console.log("Sending....");
				$("#resetPassword").html("Sending.....");
			},
			success: function(res){
				alert('done');
				$("#resetPassword").html("Sending.....");
			},
			error: function(err){
				alert("Not Done")
				console.log(err);
			}
		})
		resetData();
	});

    function resetData(){
		$("#email").val("");
		$("#resetContainer").innerHTML="";
		$("#resetContainer").append("<p class='primary'><strong>A mail has been sent to " + myemail + " contains procedure on how to retrieve your account"+"<strong></p>");
    	
    }
</script>	
