<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Forgot Password</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- login -->
	<div class="login">
		<div class="container">
			<h2>Forgot Password</h2>
			<div id="formContainer" class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
				<form id="forgetForm" action="/forgotpassword" method="post">
					<input type="email" id="forgetMail" name="email" placeholder="Email Address" required/>
					<input type="submit" value="Reset Password">
				</form>
			</div>
			<h4>Want to signin?</h4>
			<p><a href="/user/signin">Sign In Here</a> (Or) go back to <a href="/">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
		</div>
	</div>
<!-- //login -->
<script type="text/javascript" >
/*
$( document ).ready(function() {
	
	// SUBMIT FORM
    $("#forgetForm").submit(function(event) {
		event.preventDefault();
		ajaxPost();
	});
     
    
    function ajaxPost(){
    	
    	// PREPARE FORM DATA
    	var formData = {
    		forgetMail : $("#forgetMail").val()
    	}
    	
    	// DO POST
    	$.ajax({
			type : "POST",
			contentType : "application/json",
			url : window.location + "localhost:9000/forgotpassword",
			data : JSON.stringify(formData),
			dataType : 'json',
			success : function(user) {
				$("#formContainer").html("<p>" + 
					"Post Successfully! <br>" + user.forgetMail +  "</p>");
			},
			error : function(e) {
				alert("Error!")
				console.log("ERROR: ", e);
			}
		});
    	
    	// Reset FormData after Posting
    	resetData();
 
    }
    
    function resetData(){
    	$("#forgetMail").val("");
    }
})
*/
</script>