<br><br><br><br>


<div class="col-md-12 order-md-1">
<h4 class="mb-3">USER FEED BACK AND COMPLAINTS</h4>
      <form class="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com">
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country" required>
              <option value="">Select a complaint...</option>
              <option>Report another user</option>
              <option>Technical glitch</option>
              <option>User Evaluation</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Description <span class="text-muted">(Optional)</span></label>
          <textarea class="form-control" placeholder="you@example.com"></textarea>
          <div class="invalid-feedback">
            Please enter a valid complaints for updates.
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
  </div>


  <br><br><br>