
<br><br><br><br>
<!-- //navigation -->
		<div class="container-fluid">
			<div class="row">
				<!-- col-md-3 -->
				<div class="col-md-3">
					<!-- LIST GROUP -->
					<div class="list-group-flush">
					  <div class="list-group-item">
					  	<span>Categories</span>
					    <p class="mb-0">
					    	<a href="/stocks/female">
					    		<i class="far fa-image mr-4 grey p-3 white-text rounded-circle " aria-hidden="true"></i>Photos
					    	</a>
					 	</p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0"> 
					    	<a href="/stocks/female">
					    		<i class="fas fa-briefcase mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Cloths
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0">
					    	<a href="/stocks/female">
					    		<i class="fas fa-anchor mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Vacation
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0">
					    	<a href="/stocks/female">
					    		<i class="far fa-image mr-4 grey p-3 white-text rounded-circle " aria-hidden="true"></i>Photos
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0"> 
					    	<a href="/stocks/female">
					    		<i class="fas fa-briefcase mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Work
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0"> 
					    	<a href="/stocks/female">
					    		<i class="fas fa-briefcase mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Work
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0"> 
					    	<a href="/stocks/female">
					    		<i class="fas fa-briefcase mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Work
					    	</a>
					    </p>
					  </div>
					  <!--// LIST GROUP -->					
					</div>
					</div>
													
				<!-- col-md-8 -->
				<div class="col-md-8">

					      <!--Section: Products v.3-->
      				<section class="text-center mb-4">
			        <!--Grid row-->
			        <div class="row wow fadeIn">
			          <!--Grid column-->
			          {{# each products }}
			          <div class="col-lg-3 col-md-6 mb-4">
			          	{{# each this }}
			            <!--Card-->
			            <div class="card">
			              <!--Card image-->
			              <div class="view overlay">
			                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
			                  alt="">
			                <a>
			                  <div class="mask rgba-white-slight"></div>
			                </a>
			              </div>
			              <!--Card image-->

			              <!--Card content-->
			              <div class="card-body text-center">
			              	<span class="badge badge-pill danger-color">NEW/USED</span>
			                <!--Category & Title-->
			                <a href="" class="grey-text">
			                  <h5>{{ this.title }}</h5>
			                </a>
			                <h5>
			                  <strong>
			                    <a href="" class="dark-grey-text">
			                      <!-- <span class="badge badge-pill danger-color">NEW</span> -->
			                      {{ this.category }}
			                    </a>
			                  </strong>
			                </h5>
			                <h4 class="font-weight-bold blue-text">
			                  <strong>₦{{ this.price }}</strong>
			                </h4>
			              </div>
			              <!--Card content-->
			            </div>
			            <!--Card-->
			            {{/each}}
				          </div>
				          <!--Grid column-->
				          {{/each}}
				          </div>
				          <!--Fourth column-->
				        <!--Grid row-->
    			   </section>













				</div>
			</div>
		</div>
												<br><br>