
	<!-- main-slider -->
		<ul id="demo1">
			<li>
				<img src="images/11.svg" alt="Slider Image 1" />
				<!--Slider Description example-->
				<div class="slide-desc">
					<!-- <h3>Buying at your convininence</h3> -->
				</div>
			</li>
			<li>
				<img src="images/22.jpg" alt="Slider Image 2" />
				  <div class="slide-desc">
				<!--	<h3>Sell products faster</h3>-->
				</div>
			</li>
			
			<li>
				<img src="images/44.svg" alt="Slider Image 3" />
				<div class="slide-desc">
				<!--	<h3>Reach your customers faster</h3>-->
				</div>
			</li>
		</ul>
	<!-- //main-slider -->
	<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
		<h2>Special offers</h2>
							<div class="container-fluid agile-tp">
								<p class="w3l-ad" style="color:">
									We have pulled together our advertised offers into one place, so you won't miss out on any great deal.
								</p>
								  <div id="coinName" class="collection">
                    
								  </div>
							</div>
							<div class="agile_top_brands_grids">
								{{# each products }}
								<div class="col-md-4 top_brand_left">
									{{# each this }}
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a href=""><img title="ankara picture" alt="Ankara_picture" width="150px" height="140px" height src="images/ankara1.jpg" /></a>		
															<p>My {{ this.title }}</p>
															<br>
															<p>Your {{ this.description }}</p>
															<br>
															<h4>₦{{ this.price }} </h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<form action="#" method="post">
																<fieldset>
																	<button type="button" name="contact" id="contact" value="Contact" class="button btn btn-success" style="background-color:#56c590;">
																		<li>ITem</li>
																	</button>
																	{{!-- data-toggle="modal" data-target=".modal" --}}
																	{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button> --}}
																	{{!-- <input type="submit" name="submit" value="Contact" class="button" /> --}}
																</fieldset>
															</form>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div><br>
									{{/each}}
								</div>
								{{/each}}
								<div class="clearfix"></div>
							</div>
						</div>
						<!-- SECOND TAB -->
		</div>
	</div>
<!-- //top-brands -->

<!--brands-->
	<div class="brands">
		<div class="container-fluid">
		<h3>Brand Store</h3><br>
			  <p class="footer-main" style="font-family:  Geneva, 'Segoe UI', Tahoma, Verdana, sans-serif;">
			    Creativity helps stores stand out. Whogobuyam is doing something different that can help your bottom line a lot.We have built a website that offers unique products.
				Great example of collections of online stores that stands out in the crowd.Our products 
	           best suits you.{{!-- Selling breaks down for the customer and makes it enjoyable to look at. We have stunning design
				to the other shops is that they sell their products on other platforms.  --}}
				{{!-- However,we use our website for extra design functionality and to highlight everyone's story
				So if you have it flaunt it, Also integrate your social media platforms in to your ecommerce website design. --}}
			  </p>
		</div>
	</div>
<!--//brands-->

{{!-- <!-- Modal -->
				
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
			   <strong>this.description </strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">facebook</button>
        <button type="button" class="btn btn-primary">twitter</button>
      </div>
    </div>
  </div>
</div> --}}




<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>

  $(document).ready(function(){
    $('.modal').modal();
  });
	
	
$("#contact").on("click",function(e){
    var coin = $(this).attr('id');
    // alert(coin);
    $("#coinName").html(coin);
    var sendUrl ="https://api.coinmarketcap.com/v1/ticker/"+ coin +"/";
    $.ajax({
        url: sendUrl,
        dataType: "json",
        beforeSend: function() {
    $("#circleloading").show();
    },
        success: function(result){
            $("#circleloading").hide();
            $("#coinName").html("<center><h4>"+result[0].name+"</h4></center>"+
            "<p>Price In USD :" + result[0].price_usd+"</p>"+
            "<p>Price In BTC :" + result[0].price_btc+"</p>"+
            "<p>24h_volume_usd :" + result[0]["24h_volume_usd"]+"</p>"
            );
        },
        error: function(err){
            console.log(err);
        }
    })
    $(".modal-footer").on("click","a", function(e){
        // alert("fired");
        // $(".modal-content").html("");
    })
});

</script>